<li id="<%= feed_item.id %>">
	<div class="row">
		<div class="col-xs-2 col-md-1 avatar">
			<%= link_to avatar_for(feed_item.user, :thumb), feed_item.user %>
		</div>
		<div class="col-xs-10 col-md-11">
			<span class="user">
				<%= link_to feed_item.user.name, feed_item.user %>
			</span>
			<span class="content"><%= wrap(feed_item.content) %></span>
			<span class="timestamp">
				Posted <%= time_ago_in_words(feed_item.created_at) %> ago
			</span>
			<%= render "microposts/delete_micropost", object: feed_item %>
		</div>
	</div>
</li>