<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "SP", root_path, class: "navbar-brand"%>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<%= nav_bar do %>
				<%= nav_link 'Home', root_path %>
				<%= nav_link 'About', about_path %>
				<%= nav_link 'Help', help_path %>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile [<%= current_user.name %>]<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<%= nav_link 'Profile', current_user %>
						<%= nav_link 'Settings', edit_user_path(current_user) %>
						<li class="divider"></li>
						<%= nav_link 'Sign out', signout_path, 'delete' %>
					</ul>
				</li>
				<% else %>
					<%= nav_link 'Sign In', signin_path %>
				<% end %>
				
			</ul>
		</div>
	</div>
</nav>