<% provide(:title, @title) %>
<div class="row">
		<div class="col-md-3" id = "profile">
			<%= link_to avatar_for(@user, :medium), @user %>
			<h1><%= @user.name %></h1>
			<div>
				<span><%= link_to "view my profile", @user %></span><br>
				<span><%= pluralize(@user.microposts.count, 'micropost') %></span>
			</div>
			<%= render 'components/stats' %>
			<% if @users.any? %>
				<div class="user_avatars">
					<% @users.each do |user| %>
						<%= link_to avatar_for(user, :thumb), user %>
					<% end %>
				</div>
			<% end %>
		</div>
	<div class="col-md-9">
		<h3><%= @title %></h3>
		<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate renderer: BootstrapPagination::Rails %>
		<% end %>
	</div>
</div>